{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error"],
    "import/newline-after-import": "error",
    "import/prefer-default-export": 0,
    "semi": "off",
    "no-console": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "Headers": true,
    "Request": true,
    "fetch": true
  },
  "parser": "babel-eslint"
}
